name: Upload Short

on:
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt

      - name: Generate Video
        run: python generate_video.py

      - name: Upload to YouTube
        run: python upload_youtube.py
